In [1]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI

from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
#from langchain_openai import ChatOpenAI
#from langchain_community.agent_toolkits import SQLDatabaseToolkit
llm = ChatOpenAI(temperature=0.1,)

db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)


agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type= AgentType.ZERO_SHOT_REACT_DESCRIPTION,
    verbose=True,
    handle_parsing_errors=True,
)

agent.invoke("Give me the 5 directors that have the highest grossing films")

/Users/borabbo/Desktop/GPT/env/lib/python3.11/site-packages/langchain_core/_api/deprecation.py:117: LangChainDeprecationWarning: The class `langchain_community.chat_models.openai.ChatOpenAI` was deprecated in langchain-community 0.0.10 and will be removed in 0.2.0. An updated version of the class exists in the langchain-openai package and should be used instead. To use it run `pip install -U langchain-openai` and import as `from langchain_openai import ChatOpenAI`.
  warn_deprecated(
/Users/borabbo/Desktop/GPT/env/lib/python3.11/site-packages/langchain_community/agent_toolkits/sql/base.py:138: UserWarning: Received additional kwargs {'handle_parsing_errors': True} which are no longer supported.
  warnings.warn(

> Entering new SQL Agent Executor chain...
I need to find the directors with the highest grossing films, so I should look for a query that retrieves this information.
Action: sql_db_query_checker
Action Input: SELECT director, SUM(gross) AS total_gross FROM films GROUP BY director ORDER BY total_gross DESC LIMIT 5SELECT director, SUM(gross) AS total_gross
FROM films
GROUP BY director
ORDER BY total_gross DESC
LIMIT 5;The query looks correct, I should execute it to get the result.
Action: sql_db_query
Action Input: SELECT director, SUM(gross) AS total_gross FROM films GROUP BY director ORDER BY total_gross DESC LIMIT 5Error: (sqlite3.OperationalError) no such table: films
[SQL: SELECT director, SUM(gross) AS total_gross FROM films GROUP BY director ORDER BY total_gross DESC LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)I need to check the tables in the database to see if there is a table named films.
Action: sql_db_list_tables
Action Input: directors, moviesThe table I need is named movies, not films. I should adjust my query to use the correct table name.
Action: sql_db_query
Action Input: SELECT director, SUM(gross) AS total_gross FROM movies GROUP BY director ORDER BY total_gross DESC LIMIT 5Error: (sqlite3.OperationalError) no such column: director
[SQL: SELECT director, SUM(gross) AS total_gross FROM movies GROUP BY director ORDER BY total_gross DESC LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)I need to check the schema of the movies table to see what columns are available.
Action: sql_db_schema
Action Input: movies
CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/The director information is stored in the director_id column, not a director column. I need to adjust my query to sum the gross based on the director_id.
Action: sql_db_query
Action Input: SELECT director_id, SUM(revenue) AS total_gross FROM movies GROUP BY director_id ORDER BY total_gross DESC LIMIT 5[(4799, 9147393164), (4777, 6498642820), (4762, 5883569439), (4788, 5832524638), (4765, 4227483234)]I now know the final answer.
Final Answer: The 5 directors with the highest grossing films are director_id 4799, 4777, 4762, 4788, and 4765.

> Finished chain.

{'input': 'Give me the 5 directors that have the highest grossing films',
 'output': 'The 5 directors with the highest grossing films are director_id 4799, 4777, 4762, 4788, and 4765.'}

In [2]:
toolkit.get_tools()

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x1143d65d0>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x1143d65d0>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x1143d65d0>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x1143d65d0>, llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x1143ca890>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x1143d5f10>, temperature=0.1, openai_api_key='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', openai_proxy=''), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x1143ca890>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x1143d5f10>, temperature=0.1, openai_api_key='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', openai_proxy='')))]